---
import '../styles/tailwind.css';
import { Image } from "astro:assets";
import facebook from '../assets/illustrations/facebook2.svg';
import instagram from '../assets/illustrations/instagram2.svg';
import linkedin from '../assets/illustrations/linkedin2.svg';
import x from '../assets/illustrations/x2.svg';
import email from '../assets/illustrations/email2.svg';
---
<section class="bg-[#1F2D21]">
  <div class="flex flex-col md:flex-row justify-center gap-x-24 py-8 pt-12 px-16">

<div class="pb-6 md:pb-0">
<p class="font-semibold pb-2">Let's Do It World NGO</p>
<p class="pb-2">Roosikrantsi 3, TALLINN 10119, Estonia <br>
Reg. code - 80562203</p>
<a href="mailto:digital@ldiw.org">digital@ldiw.org</a>
</div>

<div class="pb-8 md:pb-0">
  <ul>
<li><a href="https://www.worldcleanupday.org/blog" target="_blank">Blog</a>
</li>
<li><a href="https://drive.google.com/file/d/1a0sgGo1n8edioZ4Itm6DNqTPlmKWGfTj/view" target="_blank">Vilkår og betingelser</a>
</li>
<li><a href="https://trello.com/b/YzROvY3M/digital-cleanup-day" target="_blank">Marketingmaterialer</a>
</li>
<li><a href="https://www.worldcleanupday.org/get-involved" target="_blank">Bliv involveret</a>
</li>
</ul>
</div>

<div class="flex gap-6">
  <div><Image src={instagram} alt="instagram" class="w-8 h-auto"/></div>
   <div><Image src={x} alt="x" class="w-8 h-auto"/></div>
   <div><Image src={email} alt="email" class="w-8 h-auto"/></div>
   <div><Image src={facebook} alt="facebook" class="w-8 h-auto"/></div>
   <div><Image src={linkedin} alt="linkedin" class="w-8 h-auto"/></div>
</div>

</div>

</section>