---
import '../styles/tailwind.css';
import { Image } from "astro:assets";
import img1 from '../assets/imgs_from_book/0008.jpg';
import img2 from '../assets/imgs_from_book/agfa-genanvendeligt-kamera-35mm-5.jpg';
import img3 from '../assets/imgs_from_book/amarminoen-med-et-agfa-le-box-11.jpg';
import img4 from '../assets/imgs_from_book/foraar-med-et-agfa-le-box-2021-17.jpg';
import img5 from '../assets/imgs_from_book/vinter-2021-med-lomo-smena-6.jpg';
import img6 from '../assets/imgs_from_book/vinter-2021-med-lomo-smena-17.jpg';
import img7 from '../assets/imgs_from_book/tyk-taage-i-orestad.jpg';
import img8 from '../assets/imgs_from_book/pinhole-objektiver-ved-eghjorten-3.jpg';
import img9 from '../assets/imgs_from_book/anamorfiske-landskaber-amager-faelled-4.jpg';
import img10 from '../assets/imgs_from_book/lomo-smena-17.jpg';
import img11 from '../assets/imgs_from_book/lomo-smena-20.jpg';
import img12 from '../assets/imgs_from_book/anamorfiske-landskaber-amager-faelled-4.jpg';
---

<section class="py-6">
<h2 class="text-3xl font-semibold mb-5 pb-4">Billeder fra bogen</h2>
<div class="md:grid grid-cols-4 gap-4">
<div>
  <Image src={img1} alt="Photo" />
</div>
<div>
<Image src={img2} alt="Photo" />
</div>
<div>
<Image src={img3} alt="Photo" />
</div>
<div>
<Image src={img4} alt="Photo" />
</div>
<div>
<Image src={img5} alt="Photo" />
</div>
<div>
<Image src={img6} alt="Photo" />
</div>
<div>
<Image src={img7} alt="Photo" />
</div>
<div>
<Image src={img8} alt="Photo" />
</div>
<div>
<Image src={img9} alt="Photo" />
</div>
<div>
<Image src={img10} alt="Photo" />
</div>
<div>
<Image src={img11} alt="Photo" />
</div>
<div>
<Image src={img12} alt="Photo" />
</div>
</div>
</section>

